@{
    ViewBag.Title = "O nama";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Kala konsalting je osnovana 01.01.2004 u Beogradu kao konsalting preduzeće za menadžment preduzeća i optimizovanje proizvodnje.</p>
