@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Crnotravska 1b<br />
   Beograd, 11000<br />
    <p title="Phone">Tel: 0111234567</p>
  </address>

<address>
    <strong>Uprava:</strong>   <a href="mailto:zoran.djurdjevic@kala.rs">zoran.djurdjevic@kala.rs</a><br/>
    <strong>Podrška:</strong> <a href="mailto:marko.mitrasinovic@kala.rs">marko.mitrasinovic@kala.rs</a><br/>
    <strong>IT uprava:</strong> <a href="mailto:aleksandar.trifunovic@kala.rs">aleksandar.trifunovic@kala.rs</a><br/>
</address>