@{
    ViewBag.Title = "Početna";
}

<div class="jumbotron">
    <h1>Klijentski poslovi</h1>
    <p class="lead">Sajt je namenjen upravljanu EDI klijentima</p>
   </div>

<div class="row">
    <div class="col-md-4">
        <h2>Kala konsalting</h2>
        <p>
           Za više informacije o agenciji Kala posetite link ispod.
        </p>
        <p><a class="btn btn-default primeniS" id="margina" href="http://www.kala.rs/">Saznajte više &raquo;</a></p>
    </div>
</div>